<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <!--パスワード・サーバー名はその都度入力-->
    <connectionStrings>
      <add name="sqlsvr"
          connectionString="Data Source=(ServerName);Persist Security Info=True;Initial Catalog=(DBName);User ID=(UserName);Password=(Password)"
          providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>